export(gAtTime)
export(geom_edge)
export(geom_node)
export(glayout)
export(gplotgraph)
export(infectN)
export(makedata)
export(plotSIR)
export(resetG)
export(runVacc)
export(spreadF)
export(spreadP2)
export(stepSim)
export(stopAfter)
export(stopWhenClear)
export(timePlot)
